@colorPrimary: #ff5722;
@colorSecondary: #ffc400;

/* These styles make the body full-height */
body,
html {
    height: 100%;
    width: 100%;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}
/* These styles make the root element full-height */
#root {
	display: flex;
	height: 100%;
}

.has-scrollbars::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.has-scrollbars::-webkit-scrollbar {
	width: 12px;
    background-color: rgba(0, 0, 0, 0);
}

.has-scrollbars::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color: @colorSecondary;
}
