@import '../variables';

/* These styles make the body full-height */
body,
html {
    height: 100%;
    width: 100%;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}
/* These styles make the root element full-height */
#root {
	display: flex;
	height: 100%;
}

.has-scrollbars::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.has-scrollbars::-webkit-scrollbar {
	width: 12px;
    background-color: rgba(0, 0, 0, 0);
}

.has-scrollbars::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color: @colorSecondary;
}

.swal2-container {
    z-index: 1101 !important;
}


// Dark Theme Swal

body.theme-dark {
    .swal2-modal, .swal2-toast, .swal2-success-ring, .swal2-success-fix, .swal2-success-circular-line-right, .swal2-success-circular-line-left {
        background-color: #303030 !important;
    }
    
    [class^='swal2-success-line'] {
        z-index: 3 !important;
    }
    
    .swal2-content {
        color: #FFF !important;
    }
    
    .swal2-title {
        color: #FFF !important;
    }
}